#primary {
  padding-block: 20px;

  & div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & h1 {
    font: var(--h3);
    color: var(--brand-color-light);
  }

  /* nesting css */
  & div:nth-child(2) {
    margin-inline: auto;
  }

  & div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
  align-items: center;
}

@media (width >= 1280px) {
  .desktop-only {
    display: grid;
  }

  #primary h1 {
    font: var(--h1);
  }
}

@media (width <= 1280px) {
  .divider {
    height: 1px;
    border: solid 1px var(--stroke-color);
  }
}
